/* la section IA robot */
.gradient-bg {
    background: linear-gradient(to bottom, #224194, #0b142e);
    padding: 2rem;
    border-radius: 30px;
    color: white;
}

#robot-big-title {
    font-size: 250%;
}

.justified-text {
    text-align: justify;
}

/* boutton commencer maintenant */

#btn-commencer,
#sendmessage {
    background-color: #224194;
    color: white;
    border-radius: 30px;
}

/* boutton se connecter*/

#btn-connecter {
    border-color: #224194;
    color: #224194;
    border-radius: 30px;
    border: 2px solid;
}

/* card type de test */

.type-test {
    width: 200px;
    height: 150px;
    justify-content: center;
    border-color: #224194;
    color: #49494e;
    border: 3px solid #224194;
    font-weight: 500;
}

.type-test:hover {
    background-color: #224194;
    color: white;
}

/* tester gratuitement */

#btn-testGratuitement {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}
#btn-testGratuitement1 {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    background-color: #224194;
}

.testimonial-card {
    border-radius: 10px;
    border: 2px solid #224194;
    box-shadow: 2px 2px 1px gray;
}

.text-muted {
    text-align: center;
    width: 70%;
    margin: 0 auto; /* centre le paragraphe horizontalement */
}

/* footer */

footer {
    background-color: #49494e;
    border-radius: 30px;
}
a {
    text-decoration: none;
    color: white;
}

/* la partie history*/
ul {
    list-style: none;
}

/* partie contact */

.contact-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-title {
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.contact-info {
    margin-bottom: 30px;
}
.contact-form {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.divider {
    border-top: 1px solid #eee;
    margin: 30px 0;
}
.form-label {
    font-weight: 500;
}
.btn-send {
    background-color: #0d6efd;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

#social-part,
#location-part,
#email-part,
#phone-part {
    color: white;
    padding: 15px;
    background-color: rgba(73, 73, 78, 0.5); /* 0.5 = 50% */
    border-radius: 15px;
}

/* paiement page */

.header-section {
    text-align: center;
    margin-bottom: 40px;
    width: 70%;
    margin: 0 auto;
}

.card {
    border-radius: 30px;
}

.card:hover {
    border-radius: 30px;
    background-color: #224194;
    color: white;
}

/* Si tu veux que le bouton #s_abonner change de couleur au survol de .card */
.card:hover #s_abonner {
    background-color: #FFB703;
    color: white;
}


